<section class="playlist-album-show-container">
    <div
      class="playlist-show-top-container content-spacing"
    >
        <!-- add dynamic background color to wrapper -->
        <div class="playlist-show-top-wrapper" style="background-color: {{  hex_color  }};"></div>
        <div class="playlist-show-album-wrapper">
            <div class="playlist-show-album-div">
                <img class="playlist-show-album-img" src="{{  background  }}">
            </div>
        </div>
      <div class="playlist-show-top-contents">
        <span class="playlist-word"> {{  album_type | capitalize }} </span>
        <span class="playlist-title">
          <h1
            class="playlist-title-text"
            style="margin: 0.08em 0px 0.12em; visibility: visible; width: 100%; font-size: 3.5vw"
          >
            {{ album_name }}
          </h1>
        </span>
        <span class="playlist-description">
          <div class="playlist-description-text">{{ description }}</div>
        </span>
        <div class="playlist-info">
            <div class="playlist-show-artist-container">
                <figure class="artist-img-wrapper" style="width: 24px; height: 24px;">
                    <div class="artist-img-wrapper-div" style="width: 24px; height: 24px; inset-inline-start: 0px;">
                        <img class="artist-img-img" src="{{  artist_image  }}">
                    </div>
                </figure>
                <span class="playlist-show-artist-name">
                    <a class="playlist-show-artist-name-link" href="/artist/{{  artist_id  }}">
                        {{  artist_name  }}
                    </a>
                </span>
            </div>
            <span class="playlist-show-year">
                {{  year  }}
            </span>
          <span class="playlist-songs-and-total-duration">
            {{ songs }} songs,
            <span class="playlist-total-duration"> {{  total_time  }}</span>
          </span>
        </div>
      </div>
    </div>
    <div class="playlist-show-bottom-container">
      <div
        class="playlist-show-bottom-gradient"
        style="background-color: {{  hex_color  }}"
      ></div>
      <div class="play-and-like-btn-container">
        <div class="play-and-like-btn-resizer">
          <div
            class="play-and-like-btn-observer"
            style="left: 0px; right: auto"
          ></div>
        </div>
        <div
          class="play-and-like-btn-size"
          style="height: calc(100% + 1px); float: left"
        >
          <div class="play-and-like-btn-size-observer"></div>
        </div>
        <div
          class="content-glue"
          style="margin: 0; height: 88px; width: auto"
        ></div>
        <div class="play-and-like-btn-content-container-one">
          <div class="play-and-like-btn-content-container-two">
            <div
              class="play-and-like-btn-content-container-three"
              style="padding: 0px; height: auto; width: 100%"
            >
              <div class="play-and-like-btn-wrapper content-spacing">
                <div class="play-and-like-btn-row">
                  <div class="playlist-play-btn-div">
                    <button class="playlist-play-btn">
                      <span class="playlist-play-btn-span-outer">
                        <span class="playlist-play-btn-span-inner">
                          <svg class="playlist-play-btn-svg" viewBox="0 0 24 24">
                            <path
                              d="m 7.05 3.606 l 13.49 7.788 a 0.7 0.7 0 0 1 0 1.212 L 7.05 20.394 A 0.7 0.7 0 0 1 6 19.788 V 4.212 a 0.7 0.7 0 0 1 1.05 -0.606 Z"
                            ></path>
                          </svg>
                        </span>
                      </span>
                    </button>
                  </div>
                  <button class="playlist-like-btn" label="Save to Your Library">
                    <span class="playlist-like-btn-span">
                      <svg class="playlist-like-btn-svg" viewBox="0 0 24 24">
                        <path
                          d="M 5.21 1.57 a 6.757 6.757 0 0 1 6.708 1.545 a 0.124 0.124 0 0 0 0.165 0 a 6.741 6.741 0 0 1 5.715 -1.78 l 0.004 0.001 a 6.802 6.802 0 0 1 5.571 5.376 v 0.003 a 6.689 6.689 0 0 1 -1.49 5.655 l -7.954 9.48 a 2.518 2.518 0 0 1 -3.857 0 L 2.12 12.37 A 6.683 6.683 0 0 1 0.627 6.714 A 6.757 6.757 0 0 1 5.21 1.57 Z m 3.12 1.803 a 4.757 4.757 0 0 0 -5.74 3.725 l -0.001 0.002 a 4.684 4.684 0 0 0 1.049 3.969 l 0.009 0.01 l 7.958 9.485 a 0.518 0.518 0 0 0 0.79 0 l 7.968 -9.495 a 4.688 4.688 0 0 0 1.049 -3.965 a 4.803 4.803 0 0 0 -3.931 -3.794 a 4.74 4.74 0 0 0 -4.023 1.256 l -0.008 0.008 a 2.123 2.123 0 0 1 -2.9 0 l -0.007 -0.007 a 4.757 4.757 0 0 0 -2.214 -1.194 Z"
                        ></path>
                      </svg>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-spacing">
        <div class="playlist-show-bottom-content-wrapper">
          <div class="playlist-show-bottom-content-headers" style="top: 64px">
            <div
              class="playlist-show-bottom-content-headers-wrapper dynamic-grid"
            >
              <div class="playlist-show-numbers">#</div>
              <div class="playlist-header-title-div">
                <div class="playlist-header-title-content">
                  <span class="playlist-header-title-span">Title</span>
                </div>
              </div>
              <div class="playlist-header-duration-div">
                <div class="playlist-header-duration-content">
                  <svg class="playlist-header-duration-svg" viewBox="0 0 16 16">
                    <path
                      d="M 8 1.5 a 6.5 6.5 0 1 0 0 13 a 6.5 6.5 0 0 0 0 -13 Z M 0 8 a 8 8 0 1 1 16 0 A 8 8 0 0 1 0 8 Z"
                    ></path>
                    <path
                      d="M 8 3.25 a 0.75 0.75 0 0 1 0.75 0.75 v 3.25 H 11 a 0.75 0.75 0 0 1 0 1.5 H 7.25 V 4 A 0.75 0.75 0 0 1 8 3.25 Z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div
            class="playlist-show-bottom-content"
            style="height: {{ songs|int * 56 }}px;"
          >
            <div class="top-container" style="height: 1008px">
              <div
                class="top-placeholders dynamic-grid"
                style="height: calc(100% - 1008px)"
              >
                <div class="number-placeholder"></div>
                <div class="title-placeholder"></div>
                <div class="duration-placeholder"></div>
                <div style="height: 1008px"></div>
              </div>
              <div style="transform: translateY(0px)">
                {% for track in tracks %}
                <div>
                  <div
                    class="playlist-row-wrapper dynamic-grid"
                    onclick="playSong(this)"
                  >
                  <script>
                      var currentClickedElement = null;
                      function playSong(element) {
                          if (currentClickedElement === element) {
                              return; 
                          }
                  
                          if (currentClickedElement) {
                              currentClickedElement.classList.remove('clicked');
                          }
                  
                          element.classList.toggle('clicked');
                  
                          currentClickedElement = element;
                      }
                  </script>
                                                 
                    <div class="playlist-number-container">
                      <div class="playlist-number-content">
                        <span class="playlist-number-number"
                          >{{ loop.index }}</span
                        >
                        <button class="playlist-number-btn">
                          <svg
                            class="playlist-number-btn-icon"
                            viewBox="0 0 24 24"
                          >
                            <path
                              d="m 7.05 3.606 l 13.49 7.788 a 0.7 0.7 0 0 1 0 1.212 L 7.05 20.394 A 0.7 0.7 0 0 1 6 19.788 V 4.212 a 0.7 0.7 0 0 1 1.05 -0.606 Z"
                            ></path>
                          </svg>
                        </button>
                      </div>
                    </div>
                    <div class="playlist-title-content">
                      <div class="playlist-title-content-container">
                        <!-- add href to track link -->
                        <a class="playlist-title-content-link" href="/track/{{  track.id  }}">
                          <div class="playlist-title-content-text">
                            {{ track.name }}
                          </div>
                        </a>
                        {% if track.explicit %}
                        <span class="playlist-title-explicit-container">
                          <span class="playlist-title-explic-text">E</span>
                        </span>
                        {% endif %}
                        <span
                          class="playlist-title-artist-container {% if track.explicit %}explicit{% endif %}"
                        >
                          <div class="playlist-title-artist-content">
                            <div class="playlist-title-artist-content">
                                {% for artist_info in track.artists_info %}
                                  <a href="/artist/{{  artist_info.id  }}">
                                      {{ artist_info.name }}
                                  </a> {% if not loop.last %}, {% endif %}
                                 {% endfor %}
                              </div>
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="playlist-duration-and-like-container">
                      <button class="playlist-like-button" aria-label="Save to Your Library">
                        <span class="playlist-like-wrapper">
                          <svg class="playlist-like-svg" viewBox="0 0 16 16">
                            <path
                              d="M 1.69 2 A 4.582 4.582 0 0 1 8 2.023 A 4.583 4.583 0 0 1 11.88 0.817 h 0.002 a 4.618 4.618 0 0 1 3.782 3.65 v 0.003 a 4.543 4.543 0 0 1 -1.011 3.84 L 9.35 14.629 a 1.765 1.765 0 0 1 -2.093 0.464 a 1.762 1.762 0 0 1 -0.605 -0.463 L 1.348 8.309 A 4.582 4.582 0 0 1 1.689 2 Z m 3.158 0.252 A 3.082 3.082 0 0 0 2.49 7.337 l 0.005 0.005 L 7.8 13.664 a 0.264 0.264 0 0 0 0.311 0.069 a 0.262 0.262 0 0 0 0.09 -0.069 l 5.312 -6.33 a 3.043 3.043 0 0 0 0.68 -2.573 a 3.118 3.118 0 0 0 -2.551 -2.463 a 3.079 3.079 0 0 0 -2.612 0.816 l -0.007 0.007 a 1.501 1.501 0 0 1 -2.045 0 l -0.009 -0.008 a 3.082 3.082 0 0 0 -2.121 -0.861 Z"
                            ></path>
                          </svg>
                        </span>
                      </button>
                      <div class="playlist-duration-content">
                        {{ track.duration }}
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="playlist-show-date-and-copyright-container">
            <div>
                <p class="playlist-show-date">
                    {{ formatted_date  }}
                </p>
                <div class="playlist-show-copyright-container">
                    {% for copyright in copyrights %}
                        <p class="playlist-show-copyright">{{ copyright.text }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
      </div>
      <div class="content-spacing">
        <section class="album-show-artist-album-list">
            <div class="more-by-artist-container">
                <div class="more-by-artist-wrapper">
                    <div class="more-by-artist-div">
                        <h2 class="more-by-artist-header">
                            <!-- add href if add artist discography -->
                            <a class="more-by-artist-link">
                                More by {{  artist_name  }}
                            </a>
                        </h2>
                    </div>
                    <!-- If add artist discography  -->
                    <!-- <a>
                        <span>

                        </span>
                    </a> -->
                </div>
            </div>
            <div class="album-show-album-container" style="grid-gap: 18px; min-width: 372px;">
                {% for album in albums_data %}
                <div class="playlist-wrapper">
                    <div class="home-playlist-container">
                            <div class="top-img-div">
                                <div class="img-container">
                                    <div>
                                        <img class="top-img" src="{{ album.background }}">
                                    </div>
                                </div>
                                <div class="play-button-container">
                                    <div class="play-button-wrapper">
                                        <button class="play-button-btn">
                                            <span class="play-btn-span-wrapper">
                                                <span class="play-btn-span">
                                                    <svg class="play-btn-svg" viewBox="0 0 24 24">
                                                        <path d="m 7.05 3.606 l 13.49 7.788 a 0.7 0.7 0 0 1 0 1.212 L 7.05 20.394 A 0.7 0.7 0 0 1 6 19.788 V 4.212 a 0.7 0.7 0 0 1 1.05 -0.606 Z"></path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="img-bottom-container">
                                <a class="home-album-name" href="{{ album.id  }}">
                                    <div class="home-album-text">{{ album.album_name }}</div>
                                </a>
                                <div class="home-album-description">{{ album.year }}</div>
                            </div>
                            <div class="pointer-container" onclick="redirectToAlbum('{{ album.id }}')"></div>

                            <script>
                              function redirectToAlbum(albumId) {
                                window.location.href = `/album/${albumId}`;
                              }
                            </script>
                            </div>
                </div>
                {% endfor %}
            </div>
            <script>
                window.addEventListener('resize', updateColumnCount);
            
                function updateColumnCount() {
                    const container = document.querySelector('.album-show-album-container');
                    const itemWidth = 200;
                    const gap = 18;

                    const availableWidth = container.offsetWidth;
                    const columnCount = Math.floor((availableWidth + gap) / (itemWidth + gap));

                    container.style.setProperty('--column-count', columnCount);

                    const playlistWrappers = container.querySelectorAll('.playlist-wrapper');
                    playlistWrappers.forEach((wrapper, index) => {
                        wrapper.style.display = index < columnCount ? 'grid' : 'none';
                    });
                }
            
                updateColumnCount();
            </script>
        </section>
      </div>
    </div>
  </section>
  