<div class="bottom-footer-container">
    <footer class="play-footer-container">
        <div class="bottom-footer-layout">
            <div class="bottom-footer-left-side-container">
                <div class="bottom-footer-left-side-wrapper">
                    <div class="footer-album-img-container">
                        <div>
                            <!-- add footer play link to playlist/album/track here -->
                            <a href="" style="border: none; text-decoration: none; color: #fff;">
                                <div class="footer-album-img-play-container">
                                    <div class="footer-album-img-play-content-container" style="width: 56px; height: 56px;">
                                        <div class="footer-album-img-play-div">
                                            <svg class="footer-album-img-play-svg" viewBox="0 0 24 24">
                                                <path d="M 6 3 h 15 v 15.167 a 3.5 3.5 0 1 1 -3.5 -3.5 H 19 V 5 H 8 v 13.167 a 3.5 3.5 0 1 1 -3.5 -3.5 H 6 V 3 Z m 0 13.667 H 4.5 a 1.5 1.5 0 1 0 1.5 1.5 v -1.5 Z m 13 0 h -1.5 a 1.5 1.5 0 1 0 1.5 1.5 v -1.5 Z"></path>
                                            </svg>
                                        </div>
                                        <!-- add footer play img here -->
                                        <img>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="footer-album-text-container">
                        <div class="footer-album-track-name-content">
                            <div class="footer-album-track-name-text-one">
                                <div class="footer-album-track-name-text-two">
                                    <!-- trans-x style. makes text move left to right on hover  -->
                                    <div class="footer-album-track-name-text-three" style="--trans-x: 0px">
                                        <div class="footer-album-track-name-text-four">
                                            <span>
                                                <!-- add href and text for track name -->
                                                <a href="" class="footer-album-track-name-link">
                                                    Placehold track name
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-album-badges-box"></div>
                        <div class="footer-album-artist-content">
                            <div class="footer-album-track-name-text-one">
                                <div class="footer-album-track-name-text-two">
                                    <div class="footer-album-track-name-text-three" style="--trans-x: 0px">
                                        <div class="footer-album-artist-content-link">
                                            <!-- make a for to cycle through now playing artists -->
                                            <span>
                                                <!-- add href to artists -->
                                                <a href="" class="footer-album-artist-link">
                                                    Placeholder artist name
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="footer-playlist-like-button" aria-label="Save to Your Library">
                        <span class="footer-playlist-like-wrapper">
                          <svg class="footer-playlist-like-svg" viewBox="0 0 16 16">
                            <path
                              d="M 1.69 2 A 4.582 4.582 0 0 1 8 2.023 A 4.583 4.583 0 0 1 11.88 0.817 h 0.002 a 4.618 4.618 0 0 1 3.782 3.65 v 0.003 a 4.543 4.543 0 0 1 -1.011 3.84 L 9.35 14.629 a 1.765 1.765 0 0 1 -2.093 0.464 a 1.762 1.762 0 0 1 -0.605 -0.463 L 1.348 8.309 A 4.582 4.582 0 0 1 1.689 2 Z m 3.158 0.252 A 3.082 3.082 0 0 0 2.49 7.337 l 0.005 0.005 L 7.8 13.664 a 0.264 0.264 0 0 0 0.311 0.069 a 0.262 0.262 0 0 0 0.09 -0.069 l 5.312 -6.33 a 3.043 3.043 0 0 0 0.68 -2.573 a 3.118 3.118 0 0 0 -2.551 -2.463 a 3.079 3.079 0 0 0 -2.612 0.816 l -0.007 0.007 a 1.501 1.501 0 0 1 -2.045 0 l -0.009 -0.008 a 3.082 3.082 0 0 0 -2.121 -0.861 Z"
                            ></path>
                          </svg>
                        </span>
                      </button>
                </div>
            </div>
            <div class="footer-middle-container">
                <div class="footer-middle-wrapper">
                    <div class="footer-middle-top-container">
                        <div class="player-controls-left">
                            <button class="player-controls-shuffle-btn">
                                <svg class="player-controls-shuffle-btn-svg" viewBox="0 0 16 16">
                                    <path d="M 13.151 0.922 a 0.75 0.75 0 1 0 -1.06 1.06 L 13.109 3 H 11.16 a 3.75 3.75 0 0 0 -2.873 1.34 l -6.173 7.356 A 2.25 2.25 0 0 1 0.39 12.5 H 0 V 14 h 0.391 a 3.75 3.75 0 0 0 2.873 -1.34 l 6.173 -7.356 a 2.25 2.25 0 0 1 1.724 -0.804 h 1.947 l -1.017 1.018 a 0.75 0.75 0 0 0 1.06 1.06 L 15.98 3.75 L 13.15 0.922 Z M 0.391 3.5 H 0 V 2 h 0.391 c 1.109 0 2.16 0.49 2.873 1.34 L 4.89 5.277 l -0.979 1.167 l -1.796 -2.14 A 2.25 2.25 0 0 0 0.39 3.5 Z"></path>
                                    <path d="m 7.5 10.723 l 0.98 -1.167 l 0.957 1.14 a 2.25 2.25 0 0 0 1.724 0.804 h 1.947 l -1.017 -1.018 a 0.75 0.75 0 1 1 1.06 -1.06 l 2.829 2.828 l -2.829 2.828 a 0.75 0.75 0 1 1 -1.06 -1.06 L 13.109 13 H 11.16 a 3.75 3.75 0 0 1 -2.873 -1.34 l -0.787 -0.938 Z"></path>
                                </svg>
                            </button>
                            <button class="player-controls-back-btn">
                                <svg class="player-controls-back-btn-svg" viewBox="0 0 16 16">
                                    <path d="M 3.3 1 a 0.7 0.7 0 0 1 0.7 0.7 v 5.15 l 9.95 -5.744 a 0.7 0.7 0 0 1 1.05 0.606 v 12.575 a 0.7 0.7 0 0 1 -1.05 0.607 L 4 9.149 V 14.3 a 0.7 0.7 0 0 1 -0.7 0.7 H 1.7 a 0.7 0.7 0 0 1 -0.7 -0.7 V 1.7 a 0.7 0.7 0 0 1 0.7 -0.7 h 1.6 Z"></path>
                                </svg>
                            </button>
                        </div>
                        <button class="play-controls-play-btn">
                            <svg class="play-controls-play-btn-svg" viewBox="0 0 16 16">
                                <path d="M 3 1.713 a 0.7 0.7 0 0 1 1.05 -0.607 l 10.89 6.288 a 0.7 0.7 0 0 1 0 1.212 L 4.05 14.894 A 0.7 0.7 0 0 1 3 14.288 V 1.713 Z"></path>
                            </svg>
                        </button>
                        <div class="player-controls-right">
                            <button class="player-controls-next-btn">
                                <svg class="player-controls-next-btn-svg" viewBox="0 0 16 16">
                                    <path d="M 12.7 1 a 0.7 0.7 0 0 0 -0.7 0.7 v 5.15 L 2.05 1.107 A 0.7 0.7 0 0 0 1 1.712 v 12.575 a 0.7 0.7 0 0 0 1.05 0.607 L 12 9.149 V 14.3 a 0.7 0.7 0 0 0 0.7 0.7 h 1.6 a 0.7 0.7 0 0 0 0.7 -0.7 V 1.7 a 0.7 0.7 0 0 0 -0.7 -0.7 h -1.6 Z"></path>
                                </svg>
                            </button>
                            <button class="player-controls-loop-btn">
                                <svg class="player-controls-loop-btn-svg" viewBox="0 0 16 16">
                                    <path d="M 0 4.75 A 3.75 3.75 0 0 1 3.75 1 h 8.5 A 3.75 3.75 0 0 1 16 4.75 v 5 a 3.75 3.75 0 0 1 -3.75 3.75 H 9.81 l 1.018 1.018 a 0.75 0.75 0 1 1 -1.06 1.06 L 6.939 12.75 l 2.829 -2.828 a 0.75 0.75 0 1 1 1.06 1.06 L 9.811 12 h 2.439 a 2.25 2.25 0 0 0 2.25 -2.25 v -5 a 2.25 2.25 0 0 0 -2.25 -2.25 h -8.5 A 2.25 2.25 0 0 0 1.5 4.75 v 5 A 2.25 2.25 0 0 0 3.75 12 H 5 v 1.5 H 3.75 A 3.75 3.75 0 0 1 0 9.75 v -5 Z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="footer-middle-bottom-container">
                        <!-- add code to dynamic update player time just placeholder now -->
                        <div class="player-time-elapsed-text">0:00</div>
                        <div class="player-playback-bar">
                            <label class="hidden-visually">
                                <!-- placeholder values for playback bar values -->
                                <input type="range" min="0" max="duration_seconds" step="5" aria-valuetext="elapsed_text/duration" value="elapsed_time">
                            </label>
                            <!-- % should be the calc percentage of elapsed / duration -->
                            <div class="player-playback-bar-content" style="--progress-bar-transform: 0%;">
                                <div class="player-playback-bar-background-container">
                                    <div class="player-playback-bar-background">
                                        <div class="player-playback-bar-front"></div>
                                    </div>
                                    <div class="some-div"></div>
                                </div>
                                <div style="width: 100%;"></div>
                            </div>
                        </div>
                        <div class="player-playback-duration">3:47</div>
                    </div>
                </div>
            </div>
            <div class="footer-right-container">
                <div class="footer-right-wrapper">
                    <button class="now-playing-view-btn">
                        <span class="now-playing-view-btn-span">
                            <svg class="now-playing-view-btn-svg" viewBox="0 0 16 16">
                                <path d="M 11.196 8 L 6 5 v 6 l 5.196 -3 Z"></path>
                                <path d="M 15.002 1.75 A 1.75 1.75 0 0 0 13.252 0 h -10.5 a 1.75 1.75 0 0 0 -1.75 1.75 v 12.5 c 0 0.966 0.783 1.75 1.75 1.75 h 10.5 a 1.75 1.75 0 0 0 1.75 -1.75 V 1.75 Z m -1.75 -0.25 a 0.25 0.25 0 0 1 0.25 0.25 v 12.5 a 0.25 0.25 0 0 1 -0.25 0.25 h -10.5 a 0.25 0.25 0 0 1 -0.25 -0.25 V 1.75 a 0.25 0.25 0 0 1 0.25 -0.25 h 10.5 Z"></path>
                            </svg>
                        </span>
                    </button>
                    <button class="now-playing-view-btn now-playing-btn">
                        <span class="now-playing-view-btn-span">
                            <svg class="now-playing-view-btn-svg" viewBox="0 0 16 16">
                                <path d="M 13.426 2.574 a 2.831 2.831 0 0 0 -4.797 1.55 l 3.247 3.247 a 2.831 2.831 0 0 0 1.55 -4.797 Z M 10.5 8.118 l -2.619 -2.62 A 63303.1 63303.1 0 0 0 4.74 9.075 L 2.065 12.12 a 1.287 1.287 0 0 0 1.816 1.816 l 3.06 -2.688 l 3.56 -3.129 Z M 7.12 4.094 a 4.331 4.331 0 1 1 4.786 4.786 l -3.974 3.493 l -3.06 2.689 a 2.787 2.787 0 0 1 -3.933 -3.933 l 2.676 -3.045 l 3.505 -3.99 Z"></path>
                            </svg>
                        </span>
                    </button>
                    <div class="now-playing-que-container">
                        <button class="now-playing-view-btn">
                            <span class="now-playing-view-btn-span">
                                <svg class="now-playing-view-btn-svg" viewBox="0 0 16 16">
                                    <path d="M 15 15 H 1 v -1.5 h 14 V 15 Z m 0 -4.5 H 1 V 9 h 14 v 1.5 Z m -14 -7 A 2.5 2.5 0 0 1 3.5 1 h 9 a 2.5 2.5 0 0 1 0 5 h -9 A 2.5 2.5 0 0 1 1 3.5 Z m 2.5 -1 a 1 1 0 0 0 0 2 h 9 a 1 1 0 1 0 0 -2 h -9 Z"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                    <div style="display: inline-block;">
                        <div style="position: relative;">
                            <!-- <div class=""></div> -->
                            <button class="connect-to-device-btn">
                                <span class="now-playing-view-btn-span">
                                    <svg class="now-playing-view-btn-svg" viewBox="0 0 16 16">
                                        <path d="M 6 2.75 C 6 1.784 6.784 1 7.75 1 h 6.5 c 0.966 0 1.75 0.784 1.75 1.75 v 10.5 A 1.75 1.75 0 0 1 14.25 15 h -6.5 A 1.75 1.75 0 0 1 6 13.25 V 2.75 Z m 1.75 -0.25 a 0.25 0.25 0 0 0 -0.25 0.25 v 10.5 c 0 0.138 0.112 0.25 0.25 0.25 h 6.5 a 0.25 0.25 0 0 0 0.25 -0.25 V 2.75 a 0.25 0.25 0 0 0 -0.25 -0.25 h -6.5 Z m -6 0 a 0.25 0.25 0 0 0 -0.25 0.25 v 6.5 c 0 0.138 0.112 0.25 0.25 0.25 H 4 V 11 H 1.75 A 1.75 1.75 0 0 1 0 9.25 v -6.5 C 0 1.784 0.784 1 1.75 1 H 4 v 1.5 H 1.75 Z M 4 15 H 2 v -1.5 h 2 V 15 Z"></path>
                                        <path d="M 13 10 a 2 2 0 1 1 -4 0 a 2 2 0 0 1 4 0 Z m -1 -5 a 1 1 0 1 1 -2 0 a 1 1 0 0 1 2 0 Z"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="volume-display-container" style="--button-size: 32px; --slider-width: 100%">
                        <!-- potentially change button svg based on volume percentage -->
                        <button class="mute-btn">
                            <svg class="mute-btn-svg" viewBox="0 0 16 16">
                                <path d="M 9.741 0.85 a 0.75 0.75 0 0 1 0.375 0.65 v 13 a 0.75 0.75 0 0 1 -1.125 0.65 l -6.925 -4 a 3.642 3.642 0 0 1 -1.33 -4.967 a 3.639 3.639 0 0 1 1.33 -1.332 l 6.925 -4 a 0.75 0.75 0 0 1 0.75 0 Z m -6.924 5.3 a 2.139 2.139 0 0 0 0 3.7 l 5.8 3.35 V 2.8 l -5.8 3.35 Z m 8.683 4.29 V 5.56 a 2.75 2.75 0 0 1 0 4.88 Z"></path>
                                <path d="M 11.5 13.614 a 5.752 5.752 0 0 0 0 -11.228 v 1.55 a 4.252 4.252 0 0 1 0 8.127 v 1.55 Z"></path>
                            </svg>
                        </button>
                        <div class="volume-bar-container">
                            <div class="volume-bar-div">
                                <label class="hidden-visually">
                                    <!-- change volume bar to be dynamic -->
                                    <input type="range" min="0" max="1" step="0.1" value="1">
                                </label>
                                <div class="player-playback-bar-content" style="--progress-bar-transform: 100%;">
                                    <div class="player-playback-bar-background-container">
                                        <div class="player-playback-bar-background">
                                            <div class="player-playback-bar-front"></div>
                                        </div>
                                        <div class="some-div"></div>
                                    </div>
                                    <div style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="now-playing-view-btn now-playing-btn">
                        <span class="now-playing-view-btn-span">
                            <svg class="now-playing-view-btn-svg" viewBox="0 0 16 16">
                                <path d="M 16 2.45 c 0 -0.8 -0.65 -1.45 -1.45 -1.45 H 1.45 C 0.65 1 0 1.65 0 2.45 v 11.1 C 0 14.35 0.65 15 1.45 15 h 5.557 v -1.5 H 1.5 v -11 h 13 V 7 H 16 V 2.45 Z"></path>
                                <path d="M 15.25 9.007 a 0.75 0.75 0 0 1 0.75 0.75 v 4.493 a 0.75 0.75 0 0 1 -0.75 0.75 H 9.325 a 0.75 0.75 0 0 1 -0.75 -0.75 V 9.757 a 0.75 0.75 0 0 1 0.75 -0.75 h 5.925 Z"></path>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </footer>
</div>