<div class="right-side-container">
  <header class="topbar">
    <div class="topbar-spacer"></div>
    <script>
      // Have to change this wasn't working properly. 
      window.addEventListener('scroll', function () {
        const scrollPercentage = Math.min(1, window.scrollY / (document.documentElement.scrollHeight - window.innerHeight) * 100).toFixed(2);
        document.documentElement.style.setProperty('--top-bar-opacity', scrollPercentage);
      });
    </script>       
    <div class="back-foward-home-btn-container">
      <button class="topbar-back-btn" disabled class="topbar-back-btn-disabled">
        <svg class="back-btn" viewBox="0 0 16 16">
          <path
            d="M 11.03 0.47 a 0.75 0.75 0 0 1 0 1.06 L 4.56 8 l 6.47 6.47 a 0.75 0.75 0 1 1 -1.06 1.06 L 2.44 8 L 9.97 0.47 a 0.75 0.75 0 0 1 1.06 0 Z"
          ></path>
        </svg>
      </button>
      <button class="topbar-forward-btn">
        <svg class="forward-btn" viewbox="0 0 16 16">
          <path
            d="M 4.97 0.47 a 0.75 0.75 0 0 0 0 1.06 L 11.44 8 l -6.47 6.47 a 0.75 0.75 0 1 0 1.06 1.06 L 13.56 8 L 6.03 0.47 a 0.75 0.75 0 0 0 -1.06 0 Z"
          ></path>
        </svg>
      </button>
    </div>
    <div class="user-btn-container">
      {% if user.is_authenticated %}
      <button class="logout-btn" id="logoutBtn">
        <span class="logout-btn-inner">Logout</span>
      </button>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          document
            .getElementById("logoutBtn")
            .addEventListener("click", function () {
              window.location.href = "/logout";
            });
        });
      </script>

      {% else %}
      <button class="signup-btn" id="signupBtn">Sign Up</button>
      <button class="login-btn" id="loginBtn">
        <span class="login-btn-inner"> Log in </span>
      </button>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          document
            .getElementById("signupBtn")
            .addEventListener("click", function () {
              window.location.href = "/sign-up";
            });

          document
            .getElementById("loginBtn")
            .addEventListener("click", function () {
              window.location.href = "/login";
            });
        });
      </script>
      {% endif %}
    </div>
  </header>
  <!-- Possibly move this to different file in future -->
  <div class="main-view-container">
    <div class="main-view-scroll-node">
      <div class="main-view-os-padding">
        <div class="main-view-os-viewport" style="overflow-y: scroll;">
          <div class="main-view-os-content" style="padding: 0px; height: 100%; width: 100%;">
            <div class="main-view-scroll-node-spacer"></div>
            <div class="main-view-container-content" style="min-height: calc(((100vh - 64px) - 90px) - 519px);">
              <main>
                <div class="main-gradient" style="background-color: rgb(83, 83, 83);"></div>
                <!-- May need includes here, this is the home page and most content -->
                {% if current_page == "/" %}
                    {% include "home-page.html" %}
                {% elif "/playlist/" in current_page %}
                    {% include "playlist-show.html" %}
                {% endif %}
              </main>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
