html,
body {
  height: 100%;
  color: white;
  font-family: Arial, sans-serif;
  background: black;
}

.login-container {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #262626, #000);

}

.login-header-container {
  padding: 48px 32px 0px;
  width: 100%;
  background: black;
}

.login-form-container {
  flex: 3 1 0%;
  display: flex;
  justify-content: center;
  padding: 32px;
}

.login-box {
  background-color: black;
  max-width: 734px;
  width: 100%;
  color: white;
  row-gap: normal;
  border-radius: 8px;
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
}

.login-form {
  width: 324px;
  margin: 0px auto;
  padding-bottom: 0px;
}

.login-logo {
  color: #ffffff;
}

.login-form-header {
  text-align: center;
  margin: 48px 0px;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
}

.email-login {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
}

.password-login {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
}

.hr-line {
  margin: 32px 100px;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  border-top: 1px solid rgb(41, 41, 41);
}

.login-boxes {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: rgb(18, 18, 18);
  background-clip: padding-box;
  border: 1px solid white;
  border-radius: 0.25rem;
  border-radius: 4px;
  transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
  inline-size: 100%;
  margin-block: 0px;
  box-sizing: border-box;
  appearance: none;
}

.btn-container {
  padding: 32px 0px;
}

.login-btn {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: #1ed760;
  color: black;
  display: flex;
  border-radius: 500px;
  font-size: inherit;
  min-block-size: 48px;
  align-items: center;
  justify-content: center;
  padding-block: 8px;
  padding-inline: 32px;
  border: none;
}

.sign-up-sect {
  padding: 16px 0px;
}

.sign-up-log-in-text {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.sign-up-text {
  color: #797878;
}

.sign-up-link {
  margin-left: 8px;
  color: white;
  text-decoration: underline;
}

.sign-up-link:hover {
  color: #1ed760;
}

.home-link {
  text-decoration: none;
  color: white;
}

.home-link:hover {
  text-decoration: none;
  color: white;
}

.error-message {
  color: #f15e6c; 
  font-size: .875rem;
  font-weight: 400;
  margin-block-start: 8px;
}

.login-boxes.error {
  border: 1px solid red;
}

input:focus {
  border-color: red !important;
}




