.playlist-play-btn:focus,
.playlist-like-btn:focus {
    outline: none;
}

.playlist-album-show-container {
    margin-top: -64px;
}

.content-spacing {
    padding: 0 clamp(16px, calc(16px + ((100vw - 280px - 0px - 600px) / 424) * 8), 24px);
    max-width: 1955px;
    margin: 0;
}

.playlist-show-top-container {
    height: 30vh;
    max-height: 400px;
    min-height: 340px;
    color: #fff;
    display: flex;
    max-width: none;
    overflow: hidden;
    padding-bottom: clamp(16px, calc(16px + ((100vw - 280px - 0px - 600px) / 424) * 8), 24px);
    position: relative;
}

.playlist-show-top-wrapper {
    background: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%),url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.playlist-show-album-wrapper {
    margin-right: clamp(16px, calc(16px + ((100vw - 280px - 0px - 600px) / 424) * 8), 24px);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: transform .1s linear;
    align-items: flex-end;
    align-self: flex-end;
    flex-shrink: 0;
    height: 192px;
    width: 192px;
    z-index: 0;
    display: flex;
}

@media (min-width: 1280px) {
    .playlist-show-album-wrapper {
        height: 232px;
        width: 232px;
    }
}

@media (min-width: 768px) {
    .playlist-title-text{
        font-size: 3vw ;
    }
}

.playlist-show-album-div {
    height: 100%;
    width: 100%;
}

.playlist-show-album-img {
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.playlist-show-top-contents {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: flex-end;
    z-index: 0;
}

.playlist-word {
    display: flex;
    font-size: .875rem;
    box-sizing: border-box;
    margin-block: 0px;
    font-weight: 400;
    color: inherit;
    align-items: center;
}

.playlist-title {
    line-height: normal;
    margin-top: 8px;
    overflow: hidden;
    text-align: left;
    width: 100%;
    word-break: break-word;
}

.playlist-title-text {
    box-sizing: border-box;
    margin-block: 0px;
    font-weight: 900;
    color: #fff;
}

.playlist-description {
    color: hsla(0, 0%, 100%, .7);
    font-size: .875rem;
    font-weight: 400;
}

.playlist-description-text {
    display: -webkit-box;
    max-height: 74px;
    overflow: hidden;
    word-break: break-word;
}

.playlist-info {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.playlist-show-artist-container {
    color: hsla(0, 0%, 100%, .7);
    white-space: nowrap;
    grid-gap: 4px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.artist-img-wrapper {
    display: inline-block;
    position: relative;
    margin: 0;
}

.artist-img-img {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: center center;
}

.playlist-show-artist-name {
    font-size: .875rem;
    box-sizing: border-box;
    margin-block: 0px;
    font-weight: 700;
    color: inherit;
}

.playlist-followers {
    font-size: .875rem;
    box-sizing: border-box;
    margin-block: 0px;
    font-weight: 400;
    color: inherit;
    white-space: nowrap;
}

.playlist-show-artist-name-link {
    color: #fff;
    text-decoration: none;
}

.playlist-show-artist-name-link:hover {
    color: #fff;
}

.playlist-songs-and-total-duration {
    font-size: .875rem;
    box-sizing: border-box;
    margin-block: 0px;
    font-weight: 400;
    color: inherit;
    white-space: nowrap;
}

.playlist-show-year:before {
    content: '\2022';
    margin: 0 4px;
}

.playlist-total-duration {
    white-space: nowrap;
}

.playlist-show-year {
    font-size: .875rem;
    box-sizing: border-box;
    margin-block: 0px;
    font-weight: 400;
    color: inherit;
    white-space: nowrap;
}

.playlist-songs-and-total-duration:before {
    content: '\2022';
    margin: 0 4px;
}

.playlist-show-bottom-container {
    background: #121212;
    isolation: isolate;
}

.playlist-show-bottom-gradient {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");
    height: 232px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.play-and-like-btn-container {
    overflow: visible !important;
    position: relative;
}

.play-and-like-btn-resizer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: inherit;
    border-color: transparent;
    border-style: solid;
    box-sizing: border-box;
    padding: inherit;
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}

.play-and-like-btn-observer {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    border: inherit;
    height: 200%;
    margin: 0;
    padding: inherit;
    width: 200%;
    overflow: hidden;
    pointer-events: none;
    top: 0;
    visibility: hidden;
    z-index: -1;
}

.play-and-like-btn-size {
    box-sizing: inherit !important;
    margin: 0;
    max-height: 1px;
    max-width: 1px;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: relative;
    width: inherit;
    z-index: -1;
}

.play-and-like-btn-size-observer {
    height: 1000%;
    min-height: 1px;
    min-width: 1px;
    width: 1000%;
    animation-duration: 1ms;
    box-sizing: inherit;
    display: block;
    pointer-events: none;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: -1;
}

.content-glue {
    box-sizing: inherit;
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
    width: 100%;
}

.play-and-like-btn-content-container-one {
    bottom: 0;
    direction: inherit;
    height: auto !important;
    left: 0;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto !important;
    z-index: 0;
}

.play-and-like-btn-content-container-two {
    transform: translateZ(0);
    bottom: 0;
    box-sizing: inherit !important;
    direction: inherit !important;
    left: 0;
    margin: 0;
    outline: none !important;
    padding: 0;
    position: absolute;
    resize: none !important;
    right: 0;
    top: 0;
    overflow: hidden;
}

.play-and-like-btn-content-container-three {
    box-sizing: border-box !important;
    direction: inherit;
    display: block;
    position: relative;
    visibility: visible;
}

.play-and-like-btn-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    max-width: 1955px;
    padding-top: clamp(16px, calc(16px + ((100vw - 280px - 0px - 600px) / 424) * 8), 24px);
    padding-bottom: clamp(16px, calc(16px + ((100vw - 280px - 0px - 600px) / 424) * 8), 24px);
}

.play-and-like-btn-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.playlist-play-btn-div {
    margin-right: calc(clamp(16px, calc(16px + ((100vw - 280px - 0px - 600px) / 424) * 8), 24px) + 8px);
    flex-shrink: 0;
}

.playlist-play-btn {
    box-sizing: border-box;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 0px;
    min-inline-size: 0px;
}

.playlist-play-btn:hover
.playlist-play-btn-span-outer {
    background-color: #1fdf64;
    transform: scale(1.04);
}

.playlist-play-btn-span-outer {
    overflow-wrap: anywhere;
    box-sizing: border-box;
    position: relative;
    background-color: #1ed760;
    color: #000000;
    display: flex;
    border-radius: 9999px;
    font-size: inherit;
    min-block-size: 56px;
    align-items: center;
    justify-content: center;
    inline-size: 56px;
    block-size: 56px;
}

.playlist-play-btn-span-inner {
    display: flex;
    position: absolute;
}

.playlist-play-btn-svg {
    fill: currentColor;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
}

.playlist-like-btn {
    box-sizing: border-box;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-radius: 9999px;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    color: #a7a7a7;
    min-inline-size: 0px;
    min-block-size: 56px;
    padding-block-start: 12px;
    padding-block-end: 12px;
    padding-inline: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.playlist-like-btn-span {
    display: flex;
}

.playlist-like-btn-svg {
    fill: currentColor;
    width: 32px;
    height: 32px;
}

.playlist-show-bottom-content-wrapper {
    border: 1px solid transparent;
    border-radius: 4px;
    outline: 0;
}

/* change to dynamic when finished  */
/* .playlist-show-bottom-content-wrapper .dynamic-grid {
    grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(120px,1fr);
} */

.playlist-show-bottom-content-headers {
    border-bottom: 1px solid transparent;
    box-sizing: content-box;
    height: 36px;
    margin: 0 calc(clamp(16px, calc(16px + ((100vw - 280px - 0px - 600px) / 424) * 8), 24px) * -1) calc(clamp(16px, calc(16px + ((100vw - 280px - 0px - 600px) / 424) * 8), 24px) - 1px);
    padding: 0 clamp(16px, calc(16px + ((100vw - 280px - 0px - 600px) / 424) * 8), 24px);
    position: sticky;
    z-index: 2;
}

.playlist-show-bottom-content-headers-wrapper {
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    color: #a7a7a7;
    height: 36px;
    grid-gap: 16px;
    display: grid;
    padding: 0 16px;
}

.playlist-show-numbers {
    justify-self: end;
    align-items: center;
    display: flex;
}

.playlist-header-title-div {
    align-items: center;
    display: flex;
    justify-self: start;
}

.playlist-header-title-content {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
}

/* May need to add webkit display if issues */
.playlist-header-title-span {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: .875rem;
    font-weight: 400;
    color: inherit;
}

/* make display none if colcount = 3 when making dynamic */
.playlist-header-album-div {
    justify-self: start;
    display: flex;
    align-items: center;
}

.playlist-header-album-content {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
}

.playlist-header-album-span {
    font-size: .875rem;
    box-sizing: border-box;
    margin-block: 0px;
    font-weight: 400;
    color: inherit;
}

.playlist-header-date-div {
    align-items: center;
    display: flex;
    justify-self: start;
}

.playlist-header-date-content {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
}

.playlist-header-date-span {
    font-size: .875rem;
    box-sizing: border-box;
    margin-block: 0px;
    font-weight: 400;
    color: inherit;
}

.playlist-header-duration-div {
    grid-column: last;
    justify-self: end;
    align-items: center;
    display: flex;
}

.playlist-header-duration-content {
    margin-right: 32px;
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
}

.playlist-header-duration-svg {
    fill: currentColor;
    width: 16px;
    height: 16px;
}

.playlist-show-bottom-content {
    contain: layout size;
    position: relative;
}

.top-container{ 
    /* pointer-events: none; */
    position: absolute;
    width: 100%;
}

.playlist-show-bottom-content-wrapper .top-placeholders {
    grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(120px,1fr);
}

.top-placeholders {
    grid-gap: 16px;
    display: grid;
    padding: 0 16px;
}

.number-placeholder {
    background-position-x: -12px;
    width: 16px;
    background-image: url(https://open.spotifycdn.com/cdn/images/tracklist-placeholder.b3e2f75c.png);
    justify-self: end;
    align-items: center;
    display: flex;
}

.title-placeholder {
    background-position-x: -44px;
    width: 195px;
    background-image: url(https://open.spotifycdn.com/cdn/images/tracklist-placeholder.b3e2f75c.png);
    align-items: center;
    display: flex;
    justify-self: start;
}

.album-placeholder {
    background-position-x: -693px;
    width: 120px;
    background-image: url(https://open.spotifycdn.com/cdn/images/tracklist-placeholder.b3e2f75c.png);
    align-items: center;
    display: flex;
    justify-self: start;
}

.date-added-placeholder {
    background-position-x: -693px;
    width: 120px;
    background-image: url(https://open.spotifycdn.com/cdn/images/tracklist-placeholder.b3e2f75c.png);
    align-items: center;
    display: flex;
    justify-self: start;
}

.duration-placeholder {
    background-position-x: -1175px;
    width: 120px;
    background-image: url(https://open.spotifycdn.com/cdn/images/tracklist-placeholder.b3e2f75c.png);
    grid-column: last;
    justify-self: end;
    align-items: center;
    display: flex;
}

.playlist-row-wrapper {
    border: 1px solid transparent;
    border-radius: 4px;
    height: 56px;
    position: relative;
    grid-gap: 16px;
    display: grid;
    padding: 0 16px;
    user-select: none;
}

.playlist-row-wrapper:hover {
    background-color: hsla(0, 0%, 100%, .1);
}

.playlist-row-wrapper:hover a, 
.playlist-row-wrapper.clicked a {
    color: #fff;
}

.playlist-row-wrapper:hover .playlist-number-number, 
.playlist-row-wrapper.clicked .playlist-number-number {
    display: none;
}

.playlist-row-wrapper:hover .playlist-number-btn, 
.playlist-row-wrapper.clicked .playlist-number-btn {
    opacity: 1;
    pointer-events: auto;
    position: absolute;
}

.playlist-row-wrapper:hover .playlist-like-button,
.playlist-row-wrapper.clicked .playlist-like-button {
    opacity: 1;
}

.playlist-number-container{
    justify-self: end;
    align-items: center;
    display: flex;
}

.playlist-number-content {
    color: #a7a7a7;
    display: inline-block;
    height: 16px;
    min-height: 16px;
    min-width: 16px;
    position: relative;
    width: 16px;
}

.playlist-number-number {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 400;
    color: inherit;
    position: absolute;
    top: -4px;
    font-variant: tabular-nums;
    pointer-events: none;
    right: .25em;
}

@media (hover: hover) {
    .playlist-number-btn {
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }
}


.playlist-number-btn {
    align-items: center;
    background: transparent;
    border: 0;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.playlist-number-btn-icon {
    fill: currentColor;
    width: 24px;
    height: 24px;
}

.playlist-title-content {
    align-items: center;
    display: flex;
    justify-self: start;
}

.playlist-title-album-img {
    margin-right: 12px;
    background-color: #282828;
    flex-shrink: 0;
    user-select: none;
    object-fit: cover;
    object-position: center center;
}

.playlist-title-content-container {
    align-items: center;
    column-gap: 8px;
    display: grid;
    grid-template: "title title" "badges subtitle" /auto 1fr;
    padding-inline-end: 8px;
}

.playlist-title-content-link {
    color: #fff;
    grid-area: title;
    justify-self: start;
    user-select: none;
    text-decoration: none;
}

.playlist-title-content-text {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: unset;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist-title-content-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.playlist-title-explicit-container {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 400;
    color: #a7a7a7;
    align-items: center;
    display: inline-flex;
    grid-area: badges;
    justify-content: center;
}

.playlist-title-explic-text {
    align-items: center;
    background-color: hsla(0, 0%, 1000%, .6);
    border-radius: 2px;
    color: #121212;
    display: inline-flex;
    font-size: 9px;
    height: 16px;
    justify-content: center;
    line-height: 10px;
    padding: 3px 5px;
    text-transform: uppercase;
}

.playlist-title-artist-container {
    font-size: .875rem;
    box-sizing: border-box;
    margin-block: 0px;
    font-weight: 400;
    color: #a7a7a7;
    grid-area: subtitle;
    grid-column-start: badges;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: unset;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist-title-artist-content {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: .875rem;
    font-weight: 400;
    color: inherit;
}

.playlist-title-artist-content a{
    color: #a7a7a7;
}

.playlist-title-artist-content a:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.explicit {
    grid-column-start: subtitle !important;
}

.playlist-album-content-container {
    align-items: center;
    display: flex;
    justify-self: start;
}

.playlist-album-content {
    font-size: .875rem;
    box-sizing: border-box;
    margin-block: 0px;
    font-weight: 400;
    color: inherit;
}

.playlist-album-content-link {
    color: #a7a7a7;
    /* user-select: none; */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: unset;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist-album-content-container a:hover{
    color: #fff;
    text-decoration: underline;
}

.playlist-date-added-container {
    align-items: center;
    display: flex;
    justify-self: start;
}  

.playlist-date-added-context {
    font-size: .875rem;
    box-sizing: border-box;
    margin-block: 0px;
    font-weight: 400;
    color: #a7a7a7;
}

.playlist-duration-and-like-container {
    grid-column: last;
    justify-self: end;
    align-items: center;
    display: flex;
}

.playlist-like-button {
    margin-right: 12px;
    opacity: 0;
    overflow-wrap: anywhere;
    box-sizing: border-box;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-radius: 9999px;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    color: #a7a7a7;
    min-inline-size: 0px;
    min-block-size: 32px;
    padding-block-start: 8px;
    padding-block-end: 8px;
    padding-inline: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.playlist-like-wrapper {
    display: flex;
}

.playlist-like-svg {
    fill: currentColor;
    width: 16px;
    height: 16px;
    font-size: .875rem;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-transform: none;
    user-select: none;
}

.playlist-duration-content {
    margin-right: 30px;
    font-size: .875rem;
    box-sizing: border-box;
    margin-block: 0px;
    font-weight: 400;
    color: #a7a7a7;
    display: flex;
    font-variant-numeric: tabular-nums;
    justify-content: flex-end;
    width: 5ch;
}

.clicked {
    background-color: hsla(0, 0%, 100%, .3) !important;
}

.playlist-like-button:hover {
    transform: scale(1.04);
    color: #fff ;
}

.playlist-like-button:focus {
    outline: none;
}

.playlist-like-btn:hover {
    transform: scale(1.04);
    color: #fff ;
}

/* Default grid for wider screens */
.playlist-show-bottom-content-wrapper .dynamic-grid,
.playlist-show-bottom-content-wrapper .top-placeholders {
    grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(120px, 1fr);
}

/* Responsive adjustments based on container width */
@media (max-width: 840px) {
    .playlist-show-bottom-content-wrapper .dynamic-grid,
    .playlist-show-bottom-content-wrapper .top-placeholders {
        grid-template-columns: [index] 16px [first] 4fr [last] minmax(120px, 1fr);
    }

    /* Hide specific columns for this screen size */
    .playlist-header-date-div,
    .playlist-header-album-div,
    .playlist-album-content-container,
    .playlist-date-added-container
     {
        display: none;
    }
}

@media (min-width: 840px) and (max-width: 1071px) {
    .playlist-show-bottom-content-wrapper .dynamic-grid,
    .playlist-show-bottom-content-wrapper .top-placeholders {
        grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [last] minmax(120px, 1fr);
    }

    .playlist-header-date-div,
    .playlist-date-added-container
     {
        display: none;
    }
}

.playlist-show-date-and-copyright-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.playlist-show-date {
    font-size: 0.875rem;
    margin-block: 0px;
    font-weight: 400;
    color: #b3b3b3;
}

.playlist-show-copyright-container {
    color: #b3b3b3;
}

.playlist-show-copyright {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 0.6875rem;
    font-weight: 400;
    color: inherit;
}

.album-show-artist-album-list {
    margin-top: 48px;
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    max-width: 100%;
    min-height: 300px;
    position: relative;
}

.more-by-artist-wrapper {
    display: flex;
    margin-bottom: 16px;
}

.more-by-artist-div {
    display: block;
    flex-grow: 1;
    line-height: normal;
    min-width: 0;
}

.more-by-artist-header {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

.more-by-artist-link {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    color: #fff;
    text-decoration: none;
}