.right-side-container {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;  
    position: relative;
    width: 100%;
    z-index: 1;
    grid-area: main-view/main-view/main-view/right-sidebar;
}

.topbar {
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    contain: content;
    display: flex;
    gap: 8px;
    height: 64px;
    justify-content: space-between;
    /* change  to leftsidebarwidth to account for the sidebar moving in the future*/
    /* padding: 16px var(clamp(16px,16px + (100vw - var(--left-sidebar-width,0px) - var(--panel-width,0px) - 600px)/424*8,24px)); */
    padding: 16px 20px;
    padding-inline-end: clamp(16px,16px + (100vw - var(280px,0px)  - 600px)/424*8,24px);
    position: absolute;
    width: 100%;
    z-index: 1;
}

.topbar>* {
    pointer-events: auto;
    white-space: nowrap;
}

.topbar-spacer {
    background-color: #121212;
    border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    bottom: 0;
    left: 0;
    opacity: var(--top-bar-opacity, 1);
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color .25s;
    z-index: -1;
}

.back-foward-home-btn-container {
    display: flex;
    gap: 8px;
}

.back-foward-home-btn-container
.topbar-back-btn-disabled:disabled {
    cursor: not-allowed;
    opacity: .6;
}

.back-foward-home-btn-container
.topbar-back-btn {
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    border: none;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    position: relative;
    width: 32px;
}

.back-btn{
    opacity: 1;
    fill: currentColor;
    width: 16px;
    height: 16px;
}

.back-foward-home-btn-container
.topbar-forward-btn {
    display: inline-flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    height: 32px;
    justify-content: center;
    position: relative;
    width: 32px;
}

.forward-btn {
    opacity: 1;
    fill: currentColor;
    width: 16px;
    height: 16px;
}

.user-btn-container {
    padding: 0;
}

.user-btn-container
.signup-btn {
    padding-inline-start: 8px;
}

.signup-btn {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-radius: 9999px;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    color: #a7a7a7;
    min-inline-size: 0px;
    min-block-size: 48px;
    padding-block-start: 8px;
    padding-block-end: 8px;
    padding-inline-end: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.login-btn {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 0px;
    min-inline-size: 0px;
}

.login-btn-inner {
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    color: #000000;
    display: flex;
    border-radius: 9999px;
    font-size: inherit;
    min-block-size: 48px;
    align-items: center;
    justify-content: center;
    padding-block-start: 8px;
    padding-block-end: 8px;
    padding-inline-start: 32px;
    padding-inline-end: 32px;
}

.logout-btn {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 0px;
    min-inline-size: 0px;
}

.logout-btn-inner {
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    color: #000000;
    display: flex;
    border-radius: 9999px;
    font-size: inherit;
    min-block-size: 48px;
    align-items: center;
    justify-content: center;
    padding-block-start: 8px;
    padding-block-end: 8px;
    padding-inline-start: 32px;
    padding-inline-end: 32px;
}


.signup-btn:active,
.signup-btn:focus,
.login-btn:active,
.login-btn:focus,
.logout-btn:active,
.logout-btn:focus,
.topbar-back-btn:active,
.topbar-back-btn:focus,
.topbar-forward-btn:active,
.topbar-forward-btn:focus {
    outline: none;
}

.main-view-container {
    flex: 1;
    min-height: 0;
    position: relative;
}

.main-view-scroll-node {
    overflow: hidden !important;
    height: 100%;
}

.main-view-os-padding {
    overflow: hidden;
    bottom: 0;
    direction: inherit;
    height: auto !important;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto !important;
    z-index: 0;
    box-sizing: inherit;
}

.main-view-os-viewport {
    bottom: 0;
    box-sizing: inherit !important;
    direction: inherit !important;
    left: 0;
    margin: 0;
    outline: none !important;
    padding: 0;
    position: absolute;
    resize: none !important;
    right: 0;
    top: 0;
    overflow: hidden;
}

.main-view-os-content {
    direction: inherit;
    display: block;
    position: relative;
    visibility: visible;
    width: 100%;
}

.main-view-scroll-node-spacer {
    height: 64px;
    position: sticky;
    top: 0;
}

.main-view-container-content {
    scroll-behavior: smooth;
    isolation: isolate;
    padding-bottom: 32px;
}

.main-gradient {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");
    height: 332px;
    margin-top: -64px;
    position: absolute;
    transition: background 1s ease;
    width: 100%;
    z-index: -1;
}






