.sidebar-container {
    background-color: #000;
    grid-area: left-sidebar;
    position: relative;
    width: 280px;
    height: 100%;
    /* width: 430px; */
    /* z-index: 1; */
}

a {
    text-decoration: none;
}

.sidebar-container, 
.navbar-dark{
    display: flex !important;
    flex-direction: column !important;
    min-height: 0 !important;
}
.navbar-dark {
    gap: 8px !important;
    height: 100% !important;
}

.sidebar-top-container {
    background-color: #121212;
    border-radius: 8px;
    cursor: default;
}

.sidebar-top-container h3{
    height: 24px !important;
    margin-top: 20px !important;
    padding: 0 24px !important;
    color: white;
}

.navbar-nav {
    padding: 8px 12px !important;
    list-style: none !important;
}

.nav-link:hover .home-icon-active path,
.nav-link:hover .home-not-active path,
.nav-link:hover .search-icon-active path,
.nav-link:hover .search-not-active path,
.nav-link:hover .home-span,
.library-collapse-btn:hover,
.library-collapse-btn:hover .library-svg path,
.plus-playlist:hover  {
    color: #fff;
}

.nav-item {
    padding: 4px 12px !important;
}

.nav-link {
    align-items: center !important;
    display: flex !important;
    gap: 20px !important; 
    height: 40px !important;
    color: #b3b3b3 !important;
}

.home-not-active {
    display: block;
    color: #b3b3b3;
    fill: currentColor;
    width: 24px;
    height: 24px;
}

.home-icon-active {
    color: #fff;
    display: block;
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.home-icon-active * {
    box-sizing: border-box;
}

.home-span {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 700;
}

.search-icon-active {
    color: #fff;
    display: block;
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.search-not-active {
    color: #b3b3b3;
    display: block;
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.playlist-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    user-select: none;
    width: 100%;
    border-radius: 8px;
    cursor: default;
    background-color: #121212;
}

.playlist-library {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    gap: 8px;
}

.library-box {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.library-left-side {
    align-items: center;
    display: flex;
    gap: 4px;
    margin-inline-end: auto;
    min-width: 0;
}

.library-collapse-btn {
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 40px;
    justify-content: flex-start;
    min-block-size: 40px;
    padding: 4px 8px;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    border: none;
    color: #b3b3b3;
    align-items: center;
}

.library-wrapper {
    display: flex;
    margin-inline-end: 12px;
}

.library-svg {
    fill: currentColor;
    width: 24px;
    height: 24px;
    display: block;
    color: #b3b3b3;
}

.create-playlist-btn {
    max-width: 100%;
    transition-duration: .2s;
    transition-property: color;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    text-decoration: none;
    text-transform: none;
    padding-bottom: 2px;
    outline: none;
}

.create-playlist-wrapper {
    display: flex;
    box-sizing: border-box;
}

.library-collapse-btn:focus,
  .create-playlist-btn:focus {
    outline: none; 
  }

.plus-playlist {
    fill:currentColor;
    width: 16px;
    height: 16px;
    color: #b3b3b3;
}

.playlist-container {
    height: 100%;
    overscroll-behavior-y: contain;
    overflow: visible !important;
    position: relative;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.resize-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: inherit;
    border-color: transparent;
    border-style: solid;
    box-sizing: border-box;
    padding: inherit;
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}


